<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    

    <header>
        <h1>EduCarreira</h1>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="cursos.html">Cursos</a></li>
                <li><a href="#vagas">Vagas</a></li>
            </ul>
        </nav>
    </header>

    <section id="vagas">
        <h2>Vagas para Professores</h2>
        <div class="vaga">
            <h3>Professor de Matemática</h3>
            <p>Escola Cabritos - Luanda/Futungo</p>
            <p>Descrição: Estamos em busca de um professor de matemática para lecionar para alunos do ensino médio. É necessário ter experiência prévia e formação na área.</p>
            <a href="#">Saiba Mais</a>
        </div>
        <div class="vaga">
            <h3>Professor de Língua Portuguesa</h3>
            <p>Colégio Episalque - Luanda/Futungo</p>
            <p>Descrição: Precisamos de um professor de língua portuguesa para ministrar aulas para estudantes do ensino fundamental. Excelentes habilidades de comunicação e capacidade de trabalho em equipe são essenciais.</p>
            <a href="#">Saiba Mais</a>
        </div>
        <!-- Adicione mais vagas conforme necessário -->
    </section>

    <footer>
        <!-- Rodapé -->
    </footer>
</body>
</html>